/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #2e2c2f; /* tom mais escuro, semelhante ao da imagem */
}

h1 {
    font-size: 500%;
    margin-bottom: 20px;
    color: white;
}

/* Displays */
.displays {
    margin-bottom: 20px;
    display: inline-flex;
}

.displays input {
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin: 5px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #ccc;
    background-color: #222;
    color: white;
}

/* Organizador de linhas */
.botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    align-items: center;
}

/* Linha de teclas */
.linha {
    display: flex;
    gap: 10px;
    justify-content: center;
}

/* Botões */
button {
    background-color: #5a4a4d;
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    min-width: 40px;
    transition: background-color 0.2s ease;
}

/* Botões especiais */
button.backspace {
    min-width: 60px;
}

button.enter {
    min-width: 80px;
}

button:hover {
    background-color: #7a6669;
}
